

<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
    <!--     <h3> Authenticating </h3>
     --><div class="progress" ng-if="!finished">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Authenticating
          </div>
        </div>

        <div class="results" ng-if="finished">
            <h2 ng-if="authResults === 1"> <i class="glyphicons glyphicons-keys" style="color:green;"> </i> You have successfuly authenticated! <br> You can now proceed to payment</h2>
            <h2 ng-if="authResults === 2"> Your recording was no clear enough, please try again <a class="btn btn-primary" href="#/view2" ><i class="glyphicon glyphicon-repeat"> </i> </a> </h2>
            <h2 ng-if="authResults === 3"> <i class="glyphicons glyphicons-lock" style="color:green;"> </i> Your authentication was unsuccessful </h2>
            <h2 ng-if="authResults === 4"> An error occured, try again <a class="btn btn-primary" href="#/view2"> <i class="glyphicon glyphicon-repeat"> </i> </a> 
            </h2>
        </div>
    </div>
</div>
